@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*, 
::before, 
::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
main {
    margin: 0;

}
h2 {
    padding: 2rem 2rem;
    margin: 0 ;
}
h3, p, h4{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}