@use "../utils/mixin.scss";
@use "../utils/colors.scss";

.explorer {
    text-align: center;
    & h2 {
       
        font-size: 2rem;
    }
    & p {
        font-size: 1rem;
    }
    & button {
        @include mixin.base-button   
    }
}

.loader{
    position:fixed ;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: colors.$lightergrey;
    font-family: shrikhand;
    font-size: 5rem;
    @media (max-width:1000px) {
        font-size: 3rem;
    }
    text-align: center;
    height: 100vh;
    inset:0;
    z-index: 1;
    opacity: 0.9;
    
    animation: disappear 1s 1s forwards;
    transform-origin: top;

    span{
        display: inline-block;
        animation: wave 1s ease-in-out infinite;
        @for $i from 1 through 11{
            &:nth-child(#{$i}){
                animation-delay: 150ms*$i;
            }
    }
@keyframes wave {
    0%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-0.6em);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes disappear {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
}
}